<ion-view view-title="About">
  <ion-content>
    <div class="list card">

      <div class="item item-avatar">
        <img src="img/challonger.png">
        <h2>Bracketor</h2>
        <p>v2.0.5</p>
      </div>

      <div class="item item-body">
        <p>
          Unofficial Challonge App for mobile.
        </p>
      </div>

      <div class="item tabs tabs-secondary tabs-icon-left">
        <a class="tab-item" href="#" ng-click="openTwitter()">
          <i class="icon ion-social-twitter"></i>
          @coldlink_
        </a>
        <a class="tab-item" href="#" ng-click="openWeb()">
          <i class="icon ion-earth"></i>
          Website
        </a>
        <a class="tab-item" href="#" ng-click="openGit()">
          <i class="icon ion-social-github"></i>
          GitHub
        </a>
      </div>

    </div>
    <div class="list card">
      <div class="item">
        <h2>Complete Changelog</h2>
        <p>Version: v2.0.5</p>
      </div>
      <div class="item item-body">
        <p class="no-margin-top">
          <p>
            v2.0.5
            <br>
            <small>-&emsp;Add vibration feedback on button clicks. Enable/Diable through settings menu.</small>
            <br>
            <small>-&emsp;Add toast messages on user interactions.</small>
            <br>
            <small>-&emsp;Change editing scores from click/long-click to + and - buttons on either side of the score.</small>
            <br>
            <small>-&emsp;Add refresh button to menu on tournament view.</small>
            <br>
            v2.0.4
            <br>
              <small>-&emsp;We've had a name change!</small><br>
              <br>
            v2.0.3
            <br>
              <small>-&emsp;Fix issue where the history would not be accessible if it contained a deleted tournament.</small><br>
              <small>-&emsp;Fix issue where getting a single tournament would not be possible.</small><br>
              <small>-&emsp;Improve input boxes visibility on browse tournament section.</small><br>
              <small>-&emsp;Add checking for API Key when accessing the create tournament section.</small><br>
              <small>-&emsp;Add help text on settings page to get API Key.</small><br>
            <br>
            v2.0.2
            <br>
              <small>-&emsp;Fix color issue with input areas.</small>
          </p>
        </p>
      </div>
    </div>
  </ion-content>
</ion-view>
