<ion-view view-title="About">
  <ion-content>
    <div class="list card">

      <div class="item item-avatar">
        <img src="img/challonger.png">
        <h2>Challonger</h2>
        <p>v2.0.0</p>
      </div>

      <div class="item item-body">
        <p>
          Unofiicial Challonge App for Android/iOS.
        </p>
      </div>

      <div class="item tabs tabs-secondary tabs-icon-left">
        <a class="tab-item" href="https://www.twitter.com/coldlink_">
          <i class="icon ion-social-twitter"></i>
          @coldlink_
        </a>
        <a class="tab-item" href="#">
          <i class="icon ion-social-github"></i>
          GitHub
        </a>
        <a class="tab-item" href="#">
          <i class="icon ion-share"></i>
          Share
        </a>
      </div>

    </div>
  </ion-content>
</ion-view>
