<ion-view view-title="About">
  <ion-content>
    <div class="list card">

      <div class="item item-avatar">
        <img src="img/challonger.png">
        <h2>Challonger</h2>
        <p>v2.0.3</p>
      </div>

      <div class="item item-body">
        <p>
          Unofficial Challonge App for mobile.
        </p>
      </div>

      <div class="item tabs tabs-secondary tabs-icon-left">
        <a class="tab-item" href="#" ng-click="openTwitter()">
          <i class="icon ion-social-twitter"></i>
          @coldlink_
        </a>
        <a class="tab-item" href="#" ng-click="openWeb()">
          <i class="icon ion-earth"></i>
          Website
        </a>
        <a class="tab-item" href="#" ng-click="openGit()">
          <i class="icon ion-social-github"></i>
          GitHub
        </a>
      </div>

    </div>
  </ion-content>
</ion-view>
