<ion-view view-title="Browse Tournaments">
  <ion-content>
    <div ng-if="!API_KEY">
      <div class="list card">
        <div class="item item-icon-left assertive">
          <i class="icon ion-alert-circled"></i>
          No API Key Found!
        </div>
        <div class="item item-body">
          <p>API key is required to be set before tournaments can be viewed.</p>
          <p>Set the API key in the settings menu.</p>
        </div>
        <a class="item item-icon-left assertive" href="#/app/settings">
          <i class="icon ion-gear-b"></i>
          Go to Settings
        </a>
      </div>
    </div>
    <div ng-if="API_KEY">
      <ul class="collapsible popout z-depth-0" data-collapsible="accordion" watch>
        <li class="z-depth-0">
          <div class="collapsible-header">
            <i></i>
            <b>Created Tournaments</b>
          </div>
          <div class="collapsible-body">
            <p>View and edit tournaments that you have created.</p>
            <p class="center-align">
              <a class="waves-effect btn orange darken-4" ng-click="click('created')">
                <i class="material-icons left">cloud_download</i>Get Tournaments</a>
            </p>
          </div>
        </li>
        <li class="z-depth-0">
          <div class="collapsible-header">
            <i></i>
            <b>Tournaments by Organization</b>
          </div>
          <div class="collapsible-body">
            <p>Find tournaments created by any organization using a Challonge subdomain.</p>
            <div class="input-field padding-1rem-left-right">
              <input name="subdomain" type="text" ng-model="subdomain">
              <label for="subdomain">Organization/Subdomain</label>
            </div>
            <p ng-if="error" ng-class="error.type ? error.type : 'assertive'" class="text-center">
              {{error.message}}
            </p>
            <p>
              <code>
                &gt;
                {{subdomain ? subdomain : '{Organization}'}}.challonge.com
              </code>
            </p>
            <p class="center-align">
              <a class="waves-effect btn orange darken-4" ng-click="click('subdomain', subdomain)">
                <i class="material-icons left">cloud_download</i>Get Tournaments</a>
            </p>
          </div>
        </li>
        <li class="z-depth-0">
          <div class="collapsible-header">
            <i></i>
            <b>Single Tournament</b>
          </div>
          <div class="collapsible-body">
            <p class="no-margin-top">Find a single tournament from a Challonge URL.</p>
            <p class="switch">
              <label class="input-field">
                <input type="checkbox" ng-model="incSubdomain">
                <span class="lever"></span>
              </label>
              <label>Include Organization/Subdomain</label>
            </p>
            <div ng-show="incSubdomain" class="input-field padding-1rem-left-right">
              <input name="subdomain" type="text" ng-model="subdomain">
              <label for="subdomain">Organization/Subdomain</label>
            </div>
            <div class="input-field padding-1rem-left-right">
              <input name="url" type="text" ng-model="url">
              <label for="url">URL</label>
            </div>
            <p ng-if="error" ng-class="error.type ? error.type : 'assertive'" class="text-center">
              {{error.message}}
            </p>
            <p>
              <code>
                &gt;
                {{incSubdomain ? (subdomain ? subdomain + '.' : '{Organization}.') : ''}}challonge.com/{{url ? url : '{URL}'}}
              </code>
            </p>
            <p class="center-align">
              <a class="waves-effect btn orange darken-4" ng-click="click('single', subdomain, url, incSubdomain)">
                <i class="material-icons left">cloud_download</i>Get Tournaments</a>
            </p>
          </div>
        </li>
        <li class="z-depth-0">
          <div class="collapsible-header">
            <i></i>
            <b>History/Bookmarked</b>
          </div>
          <div class="collapsible-body">
            <p class="center-align">
              <a class="waves-effect btn btn-full-width orange darken-4" ng-click="click('hisTour')">
                <i class="material-icons left">history</i>Tournament History</a>
            </p>
            <p class="center-align">
              <a class="waves-effect btn btn-full-width orange darken-4" ng-click="click('favTour')">
                <i class="material-icons left">book</i>Bookmarked Tournaments</a>
            </p>
          </div>
        </li>
      </ul>
    </div>
  </ion-content>
</ion-view>
