<ion-view view-title="Create Tournament">
  <ion-content>
    <div ng-if="!API_KEY">
      <div class="list card">
        <div class="item item-icon-left assertive">
          <i class="icon ion-alert-circled"></i>
          No API Key Found!
        </div>
        <div class="item item-body">
          <p>API key is required to be set before tournaments can be viewed.</p>
          <p>Set the API key in the settings menu.</p>
        </div>
        <a class="item item-icon-left assertive" href="#/app/settings">
          <i class="icon ion-gear-b"></i>
          Go to Settings
        </a>
      </div>
    </div>
    <div class="collection" ng-if="API_KEY">
      <div class="collection-item">
        <i class="icon ion-alert-circled"></i>
        Tournament Name
        <br>
        <small>Max: 60 Characters</small>
        <div input-field>
          <input type="text" ng-change="apply(tournament)" ng-model="tournament.tournament.name">
          <label>Name</label>
        </div>
      </div>
      <div class="collection-item">
        <i class="icon ion-alert-circled"></i>
        Tournament Type
        <p></p>
        <form action="#">
          <p>
            <input value="single elimination" ng-change="apply(tournament)" ng-model="tournament.tournament.tournament_type" class="with-gap" name="group1" type="radio" id="test1"/>
            <label for="test1">Single Elimination</label>
          </p>
          <p>
            <input value="double elimination" ng-change="apply(tournament)" ng-model="tournament.tournament.tournament_type" class="with-gap" name="group1" type="radio" id="test2"/>
            <label for="test2">Double Elimination</label>
          </p>
          <p>
            <input value="round robin" ng-change="apply(tournament)" ng-model="tournament.tournament.tournament_type" class="with-gap" name="group1" type="radio" id="test3"/>
            <label for="test3">Round Robin</label>
          </p>
          <p>
            <input value="swiss" ng-change="apply(tournament)" ng-model="tournament.tournament.tournament_type" class="with-gap" name="group1" type="radio" id="test4"/>
            <label for="test4">Swiss Style</label>
          </p>
        </form>
      </div>
      <div class="collection-item">
        <i class="icon ion-alert-circled"></i>
        URL: challonge.com/{{tournament.tournament.url ? tournament.tournament.url : '{url}'}}
        <br>
        <small>Letters, numbers, and underscores only.</small>
        <div input-field>
          <input type="text" ng-model="tournament.tournament.url" ng-change="apply(tournament)">
          <label>URL</label>
        </div>
      </div>
      <div class="collection-item">
        Organization:
        {{tournament.tournament.subdomain ? tournament.tournament.subdomain : '{organization}'}}.challonge.com
        <br>
        <small>Requires write access to the specified organization.</small>
        <div input-field>
          <input type="text" ng-model="tournament.tournament.subdomain" ng-change="apply(tournament)">
          <label>Organization/Subdomain</label>
        </div>
      </div>
      <div class="collection-item">
        Description
        <br>
        <small>Description/instructions to be displayed with the bracket. Can contain HTML</small>
        <div class="input-field">
          <textarea class="materialize-textarea" ng-model="tournament.tournament.description" ng-change="apply(tournament)"></textarea>
          <label>Description</label>
        </div>
      </div>
      <div class="collection-item">
        Host Sign Up
        <br>
        <small>Have Challonge host a sign up page? Otherwise you manually add all participants</small>
        <p></p>
        <div class="switch">
          <label class="input-field">
            <input type="checkbox" ng-change="apply(tournament)" ng-model="tournament.tournament.open_signup">
            <span class="lever"></span>
          </label>
          <label>Host Sign Up?</label>
        </div>
      </div>
      <div class="collection-item">
        Make Private
        <br>
        <small>Hide this tournament from the public browsable index and your profile.</small>
        <p></p>
        <div class="switch">
          <label class="input-field">
            <input type="checkbox" ng-change="apply(tournament)" ng-model="tournament.tournament.private">
            <span class="lever"></span>
          </label>
          <label>Make Private?</label>
        </div>
      </div>
      <div class="collection-item">
        Sign Up Cap
        <br>
        <small>Maximum number of participants in the bracket. 0 or blank is no cap.</small>
        <div input-field>
          <input type="number" ng-model="tournament.tournament.signup_cap" ng-change="apply(tournament)">
          <label>Cap</label>
        </div>
      </div>
      <!-- SE SPECIFIC STUFF -->
      <div class="collection-item" ng-show="tournament.tournament.tournament_type === 'single elimination'">
        Hold 3rd Place Match?
        <br>
        <small>Single Elimination only. Include a match between semifinal losers?</small>
        <p></p>
        <div class="switch">
          <label class="input-field">
            <input type="checkbox" ng-change="apply(tournament)" ng-model="tournament.tournament.hold_third_place_match">
            <span class="lever"></span>
          </label>
          <label>Hold 3rd Place Match?</label>
        </div>
      </div>
      <!-- SW SPECIFIC STUFF -->
      <div class="collection-item" ng-show="tournament.tournament.tournament_type === 'swiss'">
        Swiss - Points for Match Win
        <div input-field>
          <input type="number" ng-model="tournament.tournament.pts_for_match_win" ng-change="apply(tournament)">
          <label>Points (default: 1.0)</label>
        </div>
      </div>
      <div class="collection-item" ng-show="tournament.tournament.tournament_type === 'swiss'">
        Swiss - Points for Match Tie
        <div input-field>
          <input type="number" ng-model="tournament.tournament.pts_for_match_tie" ng-change="apply(tournament)">
          <label>Points (default: 0.5)</label>
        </div>
      </div>
      <div class="collection-item" ng-show="tournament.tournament.tournament_type === 'swiss'">
        Swiss - Points for Game Win
        <div input-field>
          <input type="number" ng-model="tournament.tournament.pts_for_game_win" ng-change="apply(tournament)">
          <label>Points (default: 0.0)</label>
        </div>
      </div>
      <div class="collection-item" ng-show="tournament.tournament.tournament_type === 'swiss'">
        Swiss - Points for Game Tie
        <div input-field>
          <input type="number" ng-model="tournament.tournament.pts_for_game_tie" ng-change="apply(tournament)">
          <label>Points (default: 0.0)</label>
        </div>
      </div>
      <div class="collection-item" ng-show="tournament.tournament.tournament_type === 'swiss'">
        Swiss - Points for Bye
        <div input-field>
          <input type="number" ng-model="tournament.tournament.pts_for_bye" ng-change="apply(tournament)">
          <label>Points (default: 1.0)</label>
        </div>
      </div>
      <div class="collection-item" ng-show="tournament.tournament.tournament_type === 'swiss'">
        Swiss Rounds
        <br>
        <small>
          We recommend limiting the number of rounds to less than two-thirds the number of players. Otherwise, an impossible pairing situation can be reached and your tournament may end before the desired number of rounds are played.
        </small>
        <div input-field>
          <input type="number" ng-model="tournament.tournament.swiss_rounds" ng-change="apply(tournament)">
          <label>Set to &lt; 2/3 of total players.</label>
        </div>
      </div>
      <div class="collection-item center-align">
        <a class="waves-effect waves-light btn" ng-click="save(tournament)" ng-disabled="!(tournament.tournament.name && tournament.tournament.tournament_type && tournament.tournament.url)"><i class="material-icons right">playlist_add</i>create tournament</a>
      </div>
    </div>
  </ion-content>
</ion-view>
