<ion-view view-title="ChallongerV2">
  <ion-content>
    <div class="list card">
      <div class="item item-avatar">
        <img src="img/challonger.png">
        <h2>Challonger</h2>
        <p>An unofficial Challonge app for mobile.</p>
      </div>
    </div>
    <div class="list card">
      <a class="item item-icon-left" href="#/app/browse">
        <i class="icon ion-log-in"></i>
        Browse Tournaments
      </a>
      <a class="item item-icon-left" href="#/app/create">
        <i class="icon ion-plus-round"></i>
        Create a Tournament
      </a>
      <a class="item item-icon-left" ui-sref="app.settings">
        <i class="icon ion-gear-b"></i>
        Settings
      </a>
      <a class="item item-icon-left" ui-sref="app.about">
        <i class="icon ion-information-circled"></i>
        About
      </a>
    </div>
    <div class="list card">
      <div class="item">
        <h2>Latest Update - 2016-01-01</h2>
        <p>v2.0.0</p>
      </div>
      <div class="item item-body">
        <p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
        </p>
      </div>
      <a class="item item-icon-left assertive" ui-sref="app.about">
        <i class="icon ion-information-circled"></i>
        Go to About
      </a>
    </div>
  </ion-content>
</ion-view>
