<ion-view view-title="Challonger">
  <ion-content>
    <div class="list card">
      <div class="item item-avatar">
        <img src="img/challonger.png">
        <h2>Challonger</h2>
        <p>An unofficial Challonge app for mobile.</p>
      </div>
    </div>
    <div class="list card">
      <a class="item item-icon-left" href="#/app/browse">
        <i class="icon ion-log-in"></i>
        Browse Tournaments
      </a>
      <a class="item item-icon-left" href="#/app/create">
        <i class="icon ion-plus-round"></i>
        Create a Tournament
      </a>
      <a class="item item-icon-left" ui-sref="app.settings">
        <i class="icon ion-gear-b"></i>
        Settings
      </a>
      <a class="item item-icon-left" ui-sref="app.about">
        <i class="icon ion-information-circled"></i>
        About
      </a>
    </div>
    <div class="list card">
      <div class="item">
        <h2>Latest Update - 2016-02-01</h2>
        <p>v2.0.0</p>
      </div>
      <div class="item item-body">
        <p class="no-margin-top">
          Welcome to the new version of Challonger. Made using the Ionic Framework. Now supporting Swiss Style tournaments, and matches with sets.
          <br><br>
          Please report any bugs you encounter or any feature requests through GitHub or Twitter. Links are available in the about section.
        </p>
      </div>
      <a class="item item-icon-left assertive" ui-sref="app.about">
        <i class="icon ion-information-circled"></i>
        Go to About
      </a>
    </div>
  </ion-content>
</ion-view>
