<ion-view view-title="Settings">
  <ion-content>
    <ul class="collection with-header">
      <li class="collection-header">
        Challonge API Key
      </li>
      <li class="collection-item padding-5">
        <form>
          <div class="row valign-wrapper">
            <div class="col col-80">
              <label for="api_key">API Key</label>
              <input ng-model="API_KEY" name="api_key" type="password" class="validate" length="40">
              <label ng-if="apiError" ng-class="apiError.type ? apiError.type : 'warning'">{{apiError.message}}</label>
            </div>
            <div class="col col-20">
              <button class="btn-floating btn-large waves-effect orange darken-4" ng-click="saveKey(API_KEY)" type="submit">
                <i class="material-icons">save</i>
              </button>
            </div>
          </div>
        </form>
      </li>
      <li class="collection-item padding-5">
        <div class="row valign-wrapper">
          <div class="col col-80">
            <label>Need help finding your Challonge API Key?</label>
          </div>
          <div class="col col-20">
            <button class="btn-floating btn-large waves-effect orange darken-4" ng-click="openModal()">
              <i class="material-icons">find_in_page</i>
            </button>
          </div>
        </div>
      </li>
      <li class="collection-item center-align">
        <label>Don't have a Challonge account? Visit challonge.com to create a new account.</label>
        <br><br>
        <button class="waves-effect btn orange darken-4" ng-click="openChallongeNew()">
          Open Challonge In Browser
        </button>
      </li>
    </ul>
    <ul class="collection with-header">
      <li class="collection-header">
        Global Settings
      </li>
      <li class="collection-item">
        <div class="switch">
          <label>Enable Vibration</label>
          <label class="input-field">
            <input type="checkbox" ng-change="changeVibration(enableVibration)" ng-model="enableVibration">
            <span class="lever"></span>
          </label>
        </div>
      </li>
      <li class="collection-item">
        <label>Auto Refresh<br>
          <small>
            How long before automatically refreshing the current tournament.</small>
        </label>
        <div input-field>
          <select class="browser-default backgroud-clear" ng-change="changeAutoRefresh(autorefresh)" ng-model="autorefresh">
            <option value="0">Disabled</option>
            <option value="10000">10 Secs</option>
            <option value="15000">15 Secs</option>
            <option value="30000">30 Secs</option>
            <option value="60000">1 Min</option>
            <option value="120000">2 Min</option>
            <option value="300000">5 Min</option>
          </select>
        </div>
      </li>
      <li class="collection-item">
        <label>Request Timeout<br>
          <small>How long to wait for a response for the server.</small>
        </label>
        <div input-field>
          <select class="browser-default backgroud-clear" ng-change="changeReqTimeout(reqtimeout)" ng-model="reqtimeout">
            <option value="5000">5 Secs</option>
            <option value="10000">10 Secs</option>
            <option value="15000">15 Secs</option>
            <option value="30000">30 Secs</option>
          </select>
        </div>
      </li>
    </ul>
    <ul class="collection with-header">
      <li class="collection-header">
        Quick Access
        <br>
        <small>Set which tournaments are viewed when "Get Tournaments" is pressed in the side menu.</small>
      </li>
      <li class="collection-item">
        <form action="#">
          <p>
            <input ng-change="changeQuickAccess(quickAccess)" value="created" ng-model="quickAccess.action" class="with-gap" name="group1" type="radio" id="test1"/>
            <label for="test1">Created Tournaments</label>
          </p>
          <p>
            <input ng-change="changeQuickAccess(quickAccess)" value="subdomain" ng-model="quickAccess.action" class="with-gap" name="group1" type="radio" id="test2"/>
            <label for="test2">Tournaments by Organization</label>
          </p>
          <p>
            <input ng-change="changeQuickAccess(quickAccess)" value="bookmark" ng-model="quickAccess.action" class="with-gap" name="group1" type="radio" id="test3"/>
            <label for="test3">Bookmarked Tournaments</label>
          </p>
          <p>
            <input ng-change="changeQuickAccess(quickAccess)" value="history" ng-model="quickAccess.action" class="with-gap" name="group1" type="radio" id="test4"/>
            <label for="test4">Tournament History</label>
          </p>
          <span ng-if="quickAccess.action === 'subdomain'">
            <div class="input-field">
              <input ng-change="changeQuickAccess(quickAccess)" name="subdomain" type="text" ng-model="quickAccess.subdomain">
              <label for="subdomain">Organization/Subdomain</label>
            </div>
            <code>
              &gt;
              {{quickAccess.subdomain ? quickAccess.subdomain : '{Organization}'}}.challonge.com
            </code>
          </span>
        </form>
      </li>
    </ul>
  </ion-content>
</ion-view>
<script id="setting-api-modal.html" type="text/ng-template">
  <ion-modal-view>
    <ion-header-bar>
      <button class="button button-icon button-clear ion-chevron-down" ng-click="closeModal()"></button>
      <h1 class="title">API Key</h1>
    </ion-header-bar>
    <ion-content overflow-scroll="true">
      <div class="row responsive-sm">
        <div class="col">
          <p class="no-margin">
            Get your API key by logging into Challonge and copying your API key from the Developer API Settings. Get your API Key from
            <a ng-click="openChallonge()" href="#">Challonge</a>
            or using the page below:
          </p>
        </div>
      </div>
      <iframe src="https://challonge.com/settings/developer" style="width: 100vw; height: 100vh">
        <p>
          Your device does not support iframes. Get your API Key from
          <a href="https://challonge.com/settings/developer">Challonge</a>.
        </p>
      </iframe>
    </ion-content>
  </ion-modal-view>
</script>
