<ion-view view-title="Settings">
  <ion-content>
    <div class="list">
      <div class="item item-divider item-body">
        <i class="icon ion-help-circled padding-right" ng-click="openModal()"></i>
        API Key
      </div>
      <div class="item item-input-inset">
        <label class="item-input-wrapper">
          <input style="color: black" ng-model="API_KEY" placeholder="API Key" type="password">
        </label>
        <button class="button button-assertive button-small" ng-click="saveKey(API_KEY)">
          Save Key
        </button>
      </div>
      <div class="item item-text-wrap text-center" ng-class="apiError.type ? apiError.type : 'assertive'" ng-if="apiError">
        {{apiError.message}}
      </div>
      <div class="item item-text-wrap text-center">
        Click the '?' icon to get help to find your API Key.
      </div>
    </div>
    <div class="list">
      <div class="item item-divider item-body">
        Don't have a Challonge account? Visit challonge.com to create a new account.
      </div>
      <div class="item item-divider item-body">
        <button class="button button-assertive button-full" ng-click="openChallonge()">
          Open Challonge In Browser
        </button>
      </div>
    </div>
    <div class="list">
      <ion-checkbox ng-change="changeVibration(enableVibration)" ng-model="enableVibration">Enable Vibration?</ion-checkbox>
    </div>
  </ion-content>
</ion-view>
<script id="setting-api-modal.html" type="text/ng-template">
  <ion-modal-view>
    <ion-header-bar>
      <button class="button button-icon button-clear ion-chevron-down" ng-click="closeModal()"></button>
      <h1 class="title">API Key</h1>
    </ion-header-bar>
    <ion-content overflow-scroll="true">
      <div class="row responsive-sm">
        <div class="col">
          <p class="no-margin">
            Get your API key by logging into Challonge and copying your API key from the Developer API Settings. Get your API Key from
            <a style="color: #fff" ng-click="openChallonge()" href="#">Challonge</a>
            or using the page below:
          </p>
        </div>
      </div>
      <iframe src="https://challonge.com/settings/developer" style="width: 100vw; height: 100vh">
        <p>
          Your device does not support iframes. Get your API Key from
          <a href="https://challonge.com/settings/developer">Challonge</a>.
        </p>
      </iframe>
    </ion-content>
  </ion-modal-view>
</script>
