<ion-view>
  <ion-nav-title>
    {{tournament.tournament.name}}
  </ion-nav-title>
  <ion-nav-buttons side="right">
    <button class="button button-icon icon ion-android-more-vertical" menu-toggle="right" ng-click="menu()"></button>
  </ion-nav-buttons>
  <ion-tabs class="tabs-assertive tabs-icon-only">
    <ion-tab icon="ion-ios-information" title="Information">
      <ion-view title="Information">
        <ion-content>
          <ion-refresher ng-if="!loading" on-refresh="checkConnection()" pulling-text="Pull to refresh..."></ion-refresher>
          <div class="row" ng-if="loading">
            <div class="col text-center" style="margin-top: 10px">
              <ion-spinner></ion-spinner>
            </div>
          </div>
          <div ng-if="!loading">
            <div class="bar bar-header bar-light">
              <h1 class="title">Information</h1>
            </div>
            <div class="row">
              <div class="col">
                <div class="spacer" style="height: 40px;"></div>
              </div>
            </div>
            <ul class="collection">
              <li class="collection-item avatar no-min-height valign-wrapper collection-padding">
                <span class="title">{{tournament.tournament.name}}<br>
                  <small>Tournament Name</small>
                </span>
                <span class="badge valign material-icons" ng-click="scrBtn.edit.value(tournament.tournament.id, {value: tournament.tournament.name, type: 'name', required: true})" ng-if="editEnabled">edit</span>
              </li>
              <li class="collection-item avatar no-min-height valign-wrapper collection-padding">
                <span class="title">{{state(tournament.tournament.state)}}<br>
                  <small>Tournament State</small>
                </span>
                <span class="badge valign material-icons" ng-click="scrBtn.edit.state(tournament.tournament.id, {value: tournament.tournament.state, type: 'state', required: true})" ng-if="editEnabled">edit</span>
              </li>
              <li class="collection-item avatar no-min-height valign-wrapper collection-padding">
                <span class="title">{{tournamentType(tournament.tournament.tournament_type)}}<br>
                  <small>Tournament Type</small>
                </span>
                <span class="badge valign material-icons" ng-click="scrBtn.edit.type(tournament.tournament.id, {value: tournament.tournament.tournament_type, type: 'type', required: true})" ng-if="editEnabled">edit</span>
              </li>
              <li class="collection-item avatar no-min-height valign-wrapper collection-padding">
                <span class="title">{{tournament.tournament.game_name ? tournament.tournament.game_name : 'N/A'}}<br>
                  <small>Game Name</small>
                </span>
                <span class="badge valign material-icons" ng-click="scrBtn.edit.value(tournament.tournament.id, {value: tournament.tournament.game_name, type: 'game_name', required: false})" ng-if="editEnabled">edit</span>
              </li>
              <li class="collection-item avatar no-min-height valign-wrapper collection-padding">
                <span class="title" ng-if="!tournament.tournament.description">N/A<br><small>Description</small></span>
                <span class="title" ng-if="tournament.tournament.description"><span ng-bind-html="tournament.tournament.description"></span><br><small>Description</small></span>
                <span class="badge valign material-icons" ng-click="scrBtn.edit.description(tournament.tournament.id, tournament.tournament.description)" ng-if="editEnabled">edit</span>
              </li>
              <li class="collection-item avatar no-min-height valign-wrapper collection-padding">
                <span class="title">{{tournament.tournament.subdomain ? tournament.tournament.subdomain : 'N/A'}}<br>
                  <small>Organization/Subdomain</small>
                </span>
                <span class="badge valign material-icons" ng-click="scrBtn.edit.value(tournament.tournament.id, {value: tournament.tournament.subdomain, type: 'subdomain', required: false})" ng-if="editEnabled">edit</span>
              </li>
              <li class="collection-item avatar no-min-height valign-wrapper collection-padding">
                <span class="title">{{tournament.tournament.participants_count}}<br>
                  <small>Participants Count</small>
                </span>
              </li>
              <li class="collection-item avatar no-min-height valign-wrapper collection-padding">
                <span class="title">{{tournament.tournament.signup_cap ? tournament.tournament.signup_cap : 'N/A'}}<br>
                  <small>Sign Up Cap</small>
                </span>
                <span class="badge valign material-icons" ng-click="scrBtn.edit.signUpCap(tournament.tournament.id, {value: tournament.tournament.signup_cap, type: 'signup_cap', required: false})" ng-if="editEnabled">edit</span>
              </li>
              <li class="collection-item avatar no-min-height valign-wrapper collection-padding">
                <span class="title">{{tournament.tournament.updated_at | date:"yyyy/MM/dd '-' HH:mm 'UTC'Z"}}<br>
                  <small>Last Updated At</small>
                </span>
              </li>
              <li class="collection-item avatar no-min-height valign-wrapper collection-padding">
                <span class="title">{{tournament.tournament.created_at | date:"yyyy/MM/dd '-' HH:mm 'UTC'Z"}}<br>
                  <small>Created At</small>
                </span>
              </li>
              <li class="collection-item avatar no-min-height valign-wrapper collection-padding" ng-click="!editEnabled ? scrBtn.urlCopyOpen(tournament.tournament.full_challonge_url) : flase">
                <span class="title truncate">{{tournament.tournament.full_challonge_url}}<br>
                  <small>Challonge URL</small>
                </span>
                <span class="badge valign material-icons" ng-click="scrBtn.edit.value(tournament.tournament.id, {value: tournament.tournament.url, type: 'url', required: true})" ng-if="editEnabled">edit</span>
              </li>
              <li class="collection-item avatar no-min-height valign-wrapper collection-padding" ng-click="(!editEnabled && tournament.tournament.sign_up_url) ? scrBtn.signUpUrlCopyOpen(tournament.tournament.sign_up_url) : flase">
                <span class="title truncate">{{tournament.tournament.sign_up_url ? tournament.tournament.sign_up_url : 'N/A'}}<br>
                  <small>Sign Up URL</small>
                </span>
                <span class="badge valign material-icons" ng-click="scrBtn.edit.openSignup(tournament.tournament.id, {value: tournament.tournament.open_signup, type: 'open_signup', required: false})" ng-if="editEnabled">edit</span>
              </li>
              <li class="collection-item avatar no-min-height valign-wrapper collection-padding" ng-click="scrBtn.imgCopyOpen(tournament.tournament.live_image_url)">
                <span class="title">{{tournament.tournament.live_image_url}}<br>
                  <small>Bracket Image URL</small>
                </span>
              </li>
            </ul>
          </div>
        </ion-content>
      </ion-view>
    </ion-tab>

    <ion-tab icon="ion-ios-game-controller-a" title="Matches">
      <ion-view title="Matches">
        <ion-content>
          <ion-refresher ng-if="!loading" on-refresh="checkConnection()" pulling-text="Pull to refresh..."></ion-refresher>
          <div class="row" ng-if="loading">
            <div class="col text-center" style="margin-top: 10px">
              <ion-spinner></ion-spinner>
            </div>
          </div>
          <div ng-if="!loading">
            <div class="bar bar-header bar-light">
              <h1 class="title">Matches</h1>
            </div>
            <div class="row">
              <div class="col">
                <div class="spacer" style="height: 40px;"></div>
              </div>
            </div>
            <div class="list card" ng-if="tournament.tournament.state === 'pending'">
              <div class="item row row-center">
                <div class="col text-center item-text-wrap">
                  Matches will become visible once the tournament has been started.
                </div>
              </div>
            </div>
            <div class="row" ng-repeat="matchset in matches">
              <div class="col col-50 card" ng-repeat="match in matchset">
                <div class="row row-center">
                  <div class="col text-left">
                    {{match.match.identifier}}
                  </div>
                  <div class="col text-center">
                    {{match.match.state.charAt(0).toUpperCase() + match.match.state.substr(1).toLowerCase()}}
                  </div>
                  <div class="col text-right">
                    {{match.match.round < 0 ? 'L'+  match.match.round.toString().substr(1) : match.match.round}}
                  </div>
                </div>
                <hr style="margin: 0">
                <div class="row row-center">
                  <div class="col text-center item-text-wrap">
                    {{match.match.player1_id
                    ? listParticipants[match.match.player1_id].display_name : (match.match.player1_is_prereq_match_loser ? ('Loser of ' + matchScores[match.match.player1_prereq_match_id].ident) : ('Winner of ' + matchScores[match.match.player1_prereq_match_id].ident))}}
                  </div>
                </div>
                <div class="row row-center">
                  <div class="col text-center item-text-wrap">
                    {{calcTotalScore(matchScores[match.match.id])[0]}}
                  </div>
                </div>
                <hr style="margin: 0">
                <div class="row row-center">
                  <div class="col text-center item-text-wrap">
                    {{calcTotalScore(matchScores[match.match.id])[1]}}
                  </div>
                </div>
                <div class="row row-center">
                  <div class="col text-center item-text-wrap">
                    {{match.match.player2_id
                    ? listParticipants[match.match.player2_id].display_name : (match.match.player2_is_prereq_match_loser ? ('Loser of ' + matchScores[match.match.player2_prereq_match_id].ident) : ('Winner of ' + matchScores[match.match.player2_prereq_match_id].ident))}}
                  </div>
                </div>
                <hr style="margin: 0" ng-if="editEnabled && match.match.state !== 'pending'">
                <div class="row row-center" ng-if="editEnabled && match.match.state !== 'pending'">
                  <div class="col text-center">
                    <a class="btn-floating btn-small waves-effect waves-light red" ng-click="scrBtn.editMatchOpen(match.match.id)"><i class="material-icons">edit</i></a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </ion-content>
      </ion-view>
    </ion-tab>

    <ion-tab icon="ion-network" title="Bracket">
      <ion-view title="Bracket">
        <ion-content>
          <div class="list card" ng-if="tournament.tournament.participants_count <= 1">
            <div class="item row row-center">
              <div class="col text-center item-text-wrap">
                Bracket will become visible once there are 2 or more participants.
              </div>
            </div>
          </div>
          <ion-scroll ng-if="tournament.tournament.participants_count > 1" zooming="true" direction="xy" style="height: 100%;">
            <div style="width: 100%; height: 100%" live-image></div>
          </ion-scroll>
        </ion-content>
      </ion-view>
    </ion-tab>

    <ion-tab icon="ion-ios-list-outline" title="Current Standings">
      <ion-view title="Current Standings">
        <ion-content>
          <div class="bar bar-header bar-light">
            <h1 class="title">Current Standings</h1>
          </div>
          <ion-scroll zooming="true" direction="xy" style="height: 100%;">
            <div style="width: 100%; height: 100%" score-card></div>
          </ion-scroll>
        </ion-content>
      </ion-view>
    </ion-tab>

    <ion-tab icon="ion-ios-people" title="Participants">
      <ion-view title="Participants">
        <ion-content>
          <ion-refresher ng-if="!loading" on-refresh="checkConnection()" pulling-text="Pull to refresh..."></ion-refresher>
          <div class="row" ng-if="loading">
            <div class="col text-center" style="margin-top: 10px">
              <ion-spinner></ion-spinner>
            </div>
          </div>
          <div ng-if="!loading">
            <div class="bar bar-header bar-light">
              <h1 class="title">Participants</h1>
              <button class="button button-clear icon ion-person-add" ng-if="editEnabled && tournament.tournament.state === 'pending'" ng-click="scrBtn.create.participant(tournament.tournament.id)"></button>
              <button class="button button-clear icon ion-person-stalker" ng-if="editEnabled && tournament.tournament.state === 'pending'" ng-click="scrBtn.create.bulk(tournament.tournament.id)"></button>
            </div>
            <div class="row">
              <div class="col">
                <div class="spacer" style="height: 40px;"></div>
              </div>
            </div>
            <ion-list show-reorder="editEnabled && tournament.tournament.state === 'pending'">
              <ion-item class="item item-avatar-left item-icon-right" ng-repeat="participant in tournament.tournament.participants">
                <img ng-src="{{getImage(participant.participant.attached_participatable_portrait_url)}}">
                <h2>{{participant.participant.display_name}}</h2>
                <p>{{participant.participant.challonge_username}}</p>
                <i class="icon">{{participant.participant.seed}}</i>
                <ion-reorder-button
                  class="button-light"
                  ng-click="scrBtn.edit.participant(tournament.tournament.id, participant.participant.id)"
                  on-reorder="scrBtn.edit.reorder(tournament.tournament.id, participant, participant.participant.id, $fromIndex, $toIndex)">{{participant.participant.seed}}&emsp;
                  <i class="ion-navicon"></i>
                </ion-reorder-button>
              </ion-item>
            </ion-list>
          </div>
        </ion-content>
      </ion-view>
    </ion-tab>

    <ion-tab icon="ion-podium" ng-if="tournament.tournament.state === 'complete'" title="Final Standings">
      <ion-view title="Final Standings">
        <ion-content>
          <ion-refresher ng-if="!loading" on-refresh="checkConnection()" pulling-text="Pull to refresh..."></ion-refresher>
          <div class="row" ng-if="loading">
            <div class="col text-center" style="margin-top: 10px">
              <ion-spinner></ion-spinner>
            </div>
          </div>
          <div ng-if="!loading">
            <div class="bar bar-header bar-light">
              <h1 class="title">Final Standings</h1>
            </div>
            <div class="row">
              <div class="col">
                <div class="spacer" style="height: 40px;"></div>
              </div>
            </div>
            <ion-list>
              <ion-item class="item item-avatar-left item-icon-right" collection-repeat="participant in tournament.tournament.participants | orderBy:'participant.final_rank'">
                <img ng-src="{{getImage(participant.participant.attached_participatable_portrait_url)}}">
                <h2>{{participant.participant.display_name}}</h2>
                <p>{{participant.participant.challonge_username}}</p>
                <i class="icon">{{participant.participant.final_rank}}</i>
              </ion-item>
            </ion-list>
          </div>
        </ion-content>
      </ion-view>
    </ion-tab>
  </ion-tabs>
</ion-view>
