<ion-view view-title="About">
  <ion-content>
    <div class="list card">

      <div class="item item-avatar">
        <img src="img/challonger.png">
        <h2>Bracketor</h2>
        <p>v2.0.8</p>
      </div>

      <div class="item item-body">
        <p>
          Unofficial Challonge App for mobile.
        </p>
      </div>

      <div class="item tabs tabs-secondary tabs-icon-left">
        <a class="tab-item" href="#" ng-click="about.openTwitter()">
          <i class="icon ion-social-twitter"></i>
          @coldlink_
        </a>
        <a class="tab-item" href="#" ng-click="about.openWeb()">
          <i class="icon ion-earth"></i>
          Website
        </a>
        <a class="tab-item" href="#" ng-click="about.openGit()">
          <i class="icon ion-social-github"></i>
          GitHub
        </a>
      </div>

    </div>
    <div class="list card">
      <div class="item">
        <h2>Complete Changelog</h2>
        <p>Version: v2.0.8</p>
      </div>
      <div class="item item-body">
        <p class="no-margin-top">
          <p>
            v2.0.8
            <br>
            <small>-&emsp;Added a bracket view tab to the tournament view, edit matches by enabling editing and then clicking on the match in the bracket.</small>
            <small>-&emsp;Bulk add participants in the participants tab.</small>
            <small>-&emsp;Rotation enabled!</small>
            <small>-&emsp;Tournaments now sorted by last updated time.</small>
          </p>
          <p>
            v2.0.7
            <br>
            <small>-&emsp;Fix issue where tournament final standings were not visible on occasions when finalizing a tournamnet.</small>
          </p>
          <p>
            v2.0.6
            <br>
            <small>-&emsp;Fixed issue where a participant's information could not be changed once a challonge username had been set.</small>
            <br>
            <small>-&emsp;Fixed issue where error 'unknown attribute: tie' was sometimes thrown when creating a tournament.</small>
            <br>
            <small>-&emsp;Fixed issue where some UI elements would appear off screen on certain screen sizes.</small>
            <br>
            v2.0.5
            <br>
            <small>-&emsp;Add vibration feedback on button clicks. Enable/Disable through settings menu.</small>
            <br>
            <small>-&emsp;Add toast messages on user interactions.</small>
            <br>
            <small>-&emsp;Change editing scores from click/long-click to + and - buttons on either side of the score.</small>
            <br>
            <small>-&emsp;Add refresh button to menu on tournament view.</small>
            <br>
            v2.0.4
            <br>
            <small>-&emsp;We've had a name change!</small><br>
            <br>
            v2.0.3
            <br>
            <small>-&emsp;Fix issue where the history would not be accessible if it contained a deleted tournament.</small><br>
            <small>-&emsp;Fix issue where getting a single tournament would not be possible.</small><br>
            <small>-&emsp;Improve input boxes visibility on browse tournament section.</small><br>
            <small>-&emsp;Add checking for API Key when accessing the create tournament section.</small><br>
            <small>-&emsp;Add help text on settings page to get API Key.</small><br>
            <br>
            v2.0.2
            <br>
            <small>-&emsp;Fix color issue with input areas.</small>
          </p>
        </p>
      </div>
    </div>
  </ion-content>
</ion-view>
